<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!------ Include the above in your HEAD tag ---------->
</head>
<body id="LoginForm">
<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>HourCrypto</h2>
                <div class="well well-sm text-center">
                    <div class="" data-toggle="buttons">
                        <label class="btn btn-lg btn-success active">
                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                            <i class="fa fa-check"></i> Start Mining!
                        </label>
                        <label class="btn btn-lg btn-danger">
                            <input type="radio" name="options" id="option2" autocomplete="off">
                            <i class="fa fa-warning"></i> Do Not Mine At This Time
                        </label>
                    </div>
                </div>
            </div>
            <form id="Login">

                <div class="form-group">


                    <input type="email" class="form-control" id="inputEmail" placeholder="Email Address">

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>

    </div>
</div>
</div>


</body>
</html>
